/*colores
azul: #007bff;
gris: #f8f9fa;
*/
.barra{
	margin-top: 10px;
	margin-left: 10px;
	width: 100%;
	background-color: #f8f9fa;
}
input{
	margin: 10px;
	width: 70%;
	height: 30px;

}

button{
	margin-left: 10px;
	width: 10%;
	background-color:#007bff;
	height: 30px;
	color: white;
}